In [87]:
!pwd

/content

In [88]:
!ls

drive	     labourdemandbyoccupation.xlsx  selected_job_attributes.csv
job_raw.csv  sample_data

In [ ]:
import gdown

url = f"https://drive.google.com/uc?export=download&id={file_id}"
excel_file = "job_raw.csv"
gdown.download(url, excel_file, quiet=False)

Downloading...
From: https://drive.google.com/uc?export=download&id=1eOEfNvXkEBT4Ge3MFpeQyeYIoiSkUe82
To: /content/job_raw.csv
100%|██████████| 9.18M/9.18M [00:00<00:00, 166MB/s]

'job_raw.csv'

In [109]:
import pandas as pd

df = pd.read_csv('job_raw.csv')
display(df.head())

,domain,job_title,company,location,salary,job_type,experience_level,education_level,skills,post_date,job_link,description
0,www.glassdoor.co.uk,Gas Engineer,VIVID Housing2.9,"Basingstoke, England£44K(Employer provided)",/yr (Employer provided),NaN,NaN,NaN,NaN,NaN,https://www.glassdoor.co.uk/job-listing/gas-en...,"We’re VIVID! –We offer a vibrant, friendly, in..."
1,www.glassdoor.co.uk,Help Us Protect Glassdoor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.glassdoor.co.uk/job-listing/early-...,NaN
2,www.glassdoor.co.uk,Help Us Protect Glassdoor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.glassdoor.co.uk/job-listing/lates-...,NaN
3,www.glassdoor.co.uk,Principal Design Engineer Mechanical,BAE Systems3.9,"Best Places to WorkPortsmouth, South East Engl...",/yr (Employer provided),NaN,NaN,NaN,NaN,NaN,https://www.glassdoor.co.uk/job-listing/princi...,Job Title:\nPrincipal Design Engineer Mechanic...
4,www.glassdoor.co.uk,Mobile Construction Plant Engineer,Bay Lynx,"Basingstoke, England£35K - £40K(Employer provi...",/yr (Employer provided),NaN,NaN,NaN,NaN,NaN,https://www.glassdoor.co.uk/job-listing/mobile...,Bay-Lynx Manufacturing Inc are the market lead...

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2582 entries, 0 to 2581
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   domain            2582 non-null   object
 1   job_title         2582 non-null   object
 2   company           2505 non-null   object
 3   location          2504 non-null   object
 4   salary            2305 non-null   object
 5   job_type          0 non-null      float64
 6   experience_level  0 non-null      float64
 7   education_level   0 non-null      float64
 8   skills            0 non-null      float64
 9   post_date         1 non-null      object
 10  job_link          2582 non-null   object
 11  description       2505 non-null   object
dtypes: float64(4), object(8)
memory usage: 242.2+ KB

Cleaning

Drop Ads Rows

In [111]:
filtered_df = df[df['job_title'] == 'Help Us Protect Glassdoor']
count_of_rows = len(filtered_df)

print(f"Number of rows with 'job_title' as 'Help Us Protect Glassdoor': {count_of_rows}")

display(filtered_df.head()) # Displaying the first few identified rows as requested

Number of rows with 'job_title' as 'Help Us Protect Glassdoor': 69

,domain,job_title,company,location,salary,job_type,experience_level,education_level,skills,post_date,job_link,description
1,www.glassdoor.co.uk,Help Us Protect Glassdoor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.glassdoor.co.uk/job-listing/early-...,NaN
2,www.glassdoor.co.uk,Help Us Protect Glassdoor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.glassdoor.co.uk/job-listing/lates-...,NaN
9,www.glassdoor.co.uk,Help Us Protect Glassdoor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.glassdoor.co.uk/job-listing/gas-en...,NaN
13,www.glassdoor.co.uk,Help Us Protect Glassdoor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.glassdoor.co.uk/job-listing/worksh...,NaN
39,www.glassdoor.co.uk,Help Us Protect Glassdoor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.glassdoor.co.uk/job-listing/plant-...,NaN

In [112]:
print(f"Original DataFrame shape: {df.shape}")

# Get the indices of the rows to be dropped
rows_to_drop_indices = filtered_df.index

# Drop these rows from the original DataFrame
df = df.drop(rows_to_drop_indices)

print(f"DataFrame shape after dropping rows: {df.shape}")

# Display the first few rows of the cleaned DataFrame to verify
display(df.head())

Original DataFrame shape: (2582, 12)
DataFrame shape after dropping rows: (2513, 12)

,domain,job_title,company,location,salary,job_type,experience_level,education_level,skills,post_date,job_link,description
0,www.glassdoor.co.uk,Gas Engineer,VIVID Housing2.9,"Basingstoke, England£44K(Employer provided)",/yr (Employer provided),NaN,NaN,NaN,NaN,NaN,https://www.glassdoor.co.uk/job-listing/gas-en...,"We’re VIVID! –We offer a vibrant, friendly, in..."
3,www.glassdoor.co.uk,Principal Design Engineer Mechanical,BAE Systems3.9,"Best Places to WorkPortsmouth, South East Engl...",/yr (Employer provided),NaN,NaN,NaN,NaN,NaN,https://www.glassdoor.co.uk/job-listing/princi...,Job Title:\nPrincipal Design Engineer Mechanic...
4,www.glassdoor.co.uk,Mobile Construction Plant Engineer,Bay Lynx,"Basingstoke, England£35K - £40K(Employer provi...",/yr (Employer provided),NaN,NaN,NaN,NaN,NaN,https://www.glassdoor.co.uk/job-listing/mobile...,Bay-Lynx Manufacturing Inc are the market lead...
5,www.glassdoor.co.uk,Gas Engineer,C Watson Heating & Cooling,"Cambridge, East of England, England£46K - £57K...",/yr (Employer provided),NaN,NaN,NaN,NaN,NaN,https://www.glassdoor.co.uk/job-listing/gas-en...,Domestic Heating & Gas Engineer - £46K-£57K . ...
6,www.glassdoor.co.uk,Gas Engineer,Bellrock Property and Facilities Management2.9,"Milton Keynes, England",NaN,NaN,NaN,NaN,NaN,NaN,https://www.glassdoor.co.uk/job-listing/gas-en...,Gas Engineers\nBellrock is the trusted challen...

In [113]:
df.shape

(2513, 12)

Seprate Salary and location column

In [114]:
import re
import pandas as pd

def extract_location_and_salary(location_str):
    if pd.isna(location_str):
        return None, None

    location_str = str(location_str).strip()

    # Define a regex pattern to identify the start of salary information
    # This pattern looks for:
    # 1. A currency symbol (£, $, €, kr, dkk)
    # 2. A digit followed by 'K' or 'M' (e.g., '30K', '40M')
    # 3. Common salary-related phrases (e.g., '(Employer provided)', 'per annum')
    salary_start_pattern = re.compile(
        r'(\b£|\b\$|\b€|\bkr|\bdkk|\b\d+[KkMm]\b|\(Employer provided\)|\bper\s*annum\b|\bp\.a\.\b|\byearly\b|\bpa\b|\bannual\b)',
        re.IGNORECASE
    )

    match = salary_start_pattern.search(location_str)

    if match:
        # Everything from the start of the match till the end is potentially salary
        salary_part = location_str[match.start():].strip()
        # Everything before the start of the match is location
        location_part = location_str[:match.start()].strip()

        # Clean up trailing commas or whitespace from location_part if any
        if location_part.endswith(','):
            location_part = location_part[:-1].strip()

        return location_part if location_part else None, salary_part if salary_part else None
    else:
        # If no salary pattern is found, the whole string is considered location
        return location_str if location_str else None, None

# Apply the function to the 'location' column and overwrite 'location' and 'salary' columns
df[['location', 'salary']] = df['location'].apply(lambda x: pd.Series(extract_location_and_salary(x)))

# Display the updated 'location' and 'salary' columns
display(df[['location', 'salary']].head(20))

,location,salary
0,"Basingstoke, England",£44K(Employer provided)
3,"Best Places to WorkPortsmouth, South East Engl...",£54K(Employer provided)
4,"Basingstoke, England",£35K - £40K(Employer provided)
5,"Cambridge, East of England, England",£46K - £57K(Employer provided)
6,"Milton Keynes, England",None
7,"Farnham, South East England, England",£44K(Employer provided)
8,"Dunbar, Scotland",£45K - £60K(Employer provided)
10,"Cambridge, East of England, England",£45K - £48K(Employer provided)
11,"Gatwick, England",£78K - £90K(Glassdoor Est.)
12,"Sheffield, England",£34K - £39K(Employer provided)
14,"Kendal, England",£50K - £55K(Employer provided)
15,"Chard, England",£48K - £55K(Employer provided)
16,"Reading, England",£45K - £60K(Employer provided)
17,"Leicester, England",£32K - £36K(Employer provided)
18,United Kingdom,£28K - £30K(Employer provided)
19,"Portsmouth, South East England, England",£44K(Employer provided)
20,"Royal Tunbridge Wells, England",£40K - £45K(Employer provided)
21,"Exeter, England",£45K(Employer provided)
22,"Fort William, Scotland",£52K - £58K(Employer provided)
23,United Kingdom,£37K - £45K(Employer provided)

In [115]:
df.shape

(2513, 12)

Job Type Filling

In [116]:
def extract_job_type(description):
    if pd.isna(description):
        return None

    description = str(description).lower()

    # Define keywords for common job types
    job_type_keywords = {
        'full-time': ['full-time', 'full time'],
        'part-time': ['part-time', 'part time'],
        'contract': ['contract', 'contractual'],
        'temporary': ['temporary', 'temp'],
        'internship': ['internship', 'intern'],
        'apprenticeship': ['apprenticeship', 'apprentice'],
        'permanent': ['permanent'],
        'freelance': ['freelance', 'freelancer']
    }

    found_types = []
    for job_type, keywords in job_type_keywords.items():
        for keyword in keywords:
            if keyword in description:
                found_types.append(job_type)
                # If multiple keywords for the same type, only add once
                break

    # Prioritize if multiple types are found, or return the first unique one
    # For simplicity, returning the first found type. Can be refined for complex cases.
    if found_types:
        return ', '.join(sorted(list(set(found_types)))) # Return unique and sorted types
    else:
        return 'unspecified'

# Apply the function to the 'description' column to fill the 'job_type' column
df['job_type'] = df['description'].apply(extract_job_type)

# Display the value counts of the newly populated 'job_type' column
display(df['job_type'].value_counts(dropna=False))

job_type
full-time, permanent                                                457
full-time, internship, permanent                                    268
full-time                                                           220
unspecified                                                         136
contract, full-time, permanent                                      130
                                                                   ...
freelance, full-time                                                  1
apprenticeship, contract, internship                                  1
contract, freelance, full-time, internship, permanent, temporary      1
freelance, internship, temporary                                      1
freelance, part-time, permanent                                       1
Name: count, Length: 106, dtype: int64

In [117]:
df.head()

,domain,job_title,company,location,salary,job_type,experience_level,education_level,skills,post_date,job_link,description
0,www.glassdoor.co.uk,Gas Engineer,VIVID Housing2.9,"Basingstoke, England",£44K(Employer provided),"contract, full-time, permanent",NaN,NaN,NaN,NaN,https://www.glassdoor.co.uk/job-listing/gas-en...,"We’re VIVID! –We offer a vibrant, friendly, in..."
3,www.glassdoor.co.uk,Principal Design Engineer Mechanical,BAE Systems3.9,"Best Places to WorkPortsmouth, South East Engl...",£54K(Employer provided),contract,NaN,NaN,NaN,NaN,https://www.glassdoor.co.uk/job-listing/princi...,Job Title:\nPrincipal Design Engineer Mechanic...
4,www.glassdoor.co.uk,Mobile Construction Plant Engineer,Bay Lynx,"Basingstoke, England",£35K - £40K(Employer provided),"apprenticeship, full-time",NaN,NaN,NaN,NaN,https://www.glassdoor.co.uk/job-listing/mobile...,Bay-Lynx Manufacturing Inc are the market lead...
5,www.glassdoor.co.uk,Gas Engineer,C Watson Heating & Cooling,"Cambridge, East of England, England",£46K - £57K(Employer provided),full-time,NaN,NaN,NaN,NaN,https://www.glassdoor.co.uk/job-listing/gas-en...,Domestic Heating & Gas Engineer - £46K-£57K . ...
6,www.glassdoor.co.uk,Gas Engineer,Bellrock Property and Facilities Management2.9,"Milton Keynes, England",None,"contract, internship",NaN,NaN,NaN,NaN,https://www.glassdoor.co.uk/job-listing/gas-en...,Gas Engineers\nBellrock is the trusted challen...

In [118]:
df.shape

(2513, 12)

Education Level

In [119]:
def extract_education_level(description):
    if pd.isna(description):
        return None

    description = str(description).lower()

    education_keywords = {
        'bachelor': ['bachelor', 'ba', 'bs', 'b.a.', 'b.s.', 'undergraduate'],
        'master': ['master', 'ma', 'ms', 'mba', 'm.a.', 'm.s.', 'graduate'],
        'phd': ['phd', 'doctorate', 'dphil', 'doctor'],
        'associate': ['associate', 'aa', 'as', 'a.a.', 'a.s.'],
        'high school': ['high school', 'ged', 'diploma'],
        'vocational': ['vocational', 'certificate', 'diploma'], # Diploma can be general, but often implies vocational
        'degree': ['degree'] # General degree mention if specific level not found
    }

    found_levels = []
    for level, keywords in education_keywords.items():
        for keyword in keywords:
            if keyword in description:
                found_levels.append(level)
                break

    if found_levels:
        # Prioritize more specific levels if multiple are found
        # For simplicity, returning unique and sorted levels here.
        # A more complex prioritization logic could be implemented if needed.
        return ', '.join(sorted(list(set(found_levels))))
    else:
        return 'unspecified'

# Apply the function to the 'description' column to fill the 'education_level' column
df['education_level'] = df['description'].apply(extract_education_level)

# Display the value counts of the newly populated 'education_level' column
display(df['education_level'].value_counts(dropna=False))

education_level
associate, bachelor, master                                          1544
associate, bachelor, degree, master                                   285
associate, bachelor, high school, master                              246
associate, master                                                     165
associate, bachelor, master, vocational                                66
associate, bachelor, degree, high school, master                       40
associate, bachelor, high school, master, vocational                   31
associate, degree, master                                              24
associate, bachelor, degree, master, phd                               21
associate, bachelor, master, phd                                       21
associate, bachelor, degree, high school, master, vocational           12
associate, bachelor, degree, master, vocational                        11
associate, high school, master                                         10
None                                                                    8
associate                                                               4
associate, master, vocational                                           4
master                                                                  4
associate, bachelor                                                     4
associate, bachelor, high school, master, phd                           2
associate, master, phd                                                  2
associate, degree, high school, master                                  2
associate, high school, master, vocational                              2
bachelor, degree, master                                                1
associate, degree, master, phd                                          1
bachelor, high school, master                                           1
high school, master                                                     1
associate, bachelor, degree, high school, master, phd, vocational       1
Name: count, dtype: int64

In [120]:
df.head()

,domain,job_title,company,location,salary,job_type,experience_level,education_level,skills,post_date,job_link,description
0,www.glassdoor.co.uk,Gas Engineer,VIVID Housing2.9,"Basingstoke, England",£44K(Employer provided),"contract, full-time, permanent",NaN,"associate, bachelor, master",NaN,NaN,https://www.glassdoor.co.uk/job-listing/gas-en...,"We’re VIVID! –We offer a vibrant, friendly, in..."
3,www.glassdoor.co.uk,Principal Design Engineer Mechanical,BAE Systems3.9,"Best Places to WorkPortsmouth, South East Engl...",£54K(Employer provided),contract,NaN,"associate, bachelor, master",NaN,NaN,https://www.glassdoor.co.uk/job-listing/princi...,Job Title:\nPrincipal Design Engineer Mechanic...
4,www.glassdoor.co.uk,Mobile Construction Plant Engineer,Bay Lynx,"Basingstoke, England",£35K - £40K(Employer provided),"apprenticeship, full-time",NaN,"associate, bachelor, master, vocational",NaN,NaN,https://www.glassdoor.co.uk/job-listing/mobile...,Bay-Lynx Manufacturing Inc are the market lead...
5,www.glassdoor.co.uk,Gas Engineer,C Watson Heating & Cooling,"Cambridge, East of England, England",£46K - £57K(Employer provided),full-time,NaN,associate,NaN,NaN,https://www.glassdoor.co.uk/job-listing/gas-en...,Domestic Heating & Gas Engineer - £46K-£57K . ...
6,www.glassdoor.co.uk,Gas Engineer,Bellrock Property and Facilities Management2.9,"Milton Keynes, England",None,"contract, internship",NaN,"associate, bachelor, high school, master",NaN,NaN,https://www.glassdoor.co.uk/job-listing/gas-en...,Gas Engineers\nBellrock is the trusted challen...

In [121]:
df.shape

(2513, 12)

Posted Date

In [125]:
import pandas as pd

df_a = pd.read_csv('/content/selected_job_attributes.csv')

(2513, 12)

In [123]:
df.head()

,domain,job_title,company,location,salary,job_type,experience_level,education_level,skills,post_date,job_link,description
0,www.glassdoor.co.uk,Gas Engineer,VIVID Housing2.9,"Basingstoke, England",£44K(Employer provided),"contract, full-time, permanent",NaN,"associate, bachelor, master",NaN,NaN,https://www.glassdoor.co.uk/job-listing/gas-en...,"We’re VIVID! –We offer a vibrant, friendly, in..."
3,www.glassdoor.co.uk,Principal Design Engineer Mechanical,BAE Systems3.9,"Best Places to WorkPortsmouth, South East Engl...",£54K(Employer provided),contract,NaN,"associate, bachelor, master",NaN,NaN,https://www.glassdoor.co.uk/job-listing/princi...,Job Title:\nPrincipal Design Engineer Mechanic...
4,www.glassdoor.co.uk,Mobile Construction Plant Engineer,Bay Lynx,"Basingstoke, England",£35K - £40K(Employer provided),"apprenticeship, full-time",NaN,"associate, bachelor, master, vocational",NaN,NaN,https://www.glassdoor.co.uk/job-listing/mobile...,Bay-Lynx Manufacturing Inc are the market lead...
5,www.glassdoor.co.uk,Gas Engineer,C Watson Heating & Cooling,"Cambridge, East of England, England",£46K - £57K(Employer provided),full-time,NaN,associate,NaN,NaN,https://www.glassdoor.co.uk/job-listing/gas-en...,Domestic Heating & Gas Engineer - £46K-£57K . ...
6,www.glassdoor.co.uk,Gas Engineer,Bellrock Property and Facilities Management2.9,"Milton Keynes, England",None,"contract, internship",NaN,"associate, bachelor, high school, master",NaN,NaN,https://www.glassdoor.co.uk/job-listing/gas-en...,Gas Engineers\nBellrock is the trusted challen...

In [124]:
df_a.head()

,domain,job_title,company,location,salary,job_type,post_date,job_url,scraped_at
0,glassdoor.co.uk,Gas Engineer,VIVID Housing,"Basingstoke, England",£44K (Employer provided),Not specified,17d,https://www.glassdoor.co.uk/job-listing/gas-en...,2026-01-30 07:52:38
1,glassdoor.co.uk,Early PSV - HGV Engineer,Diamond Bus Company,"Redditch, England",£20.50 Per hour (Employer provided),Not specified,9d,https://www.glassdoor.co.uk/job-listing/early-...,2026-01-30 07:52:40
2,glassdoor.co.uk,Lates PSV-HGV Engineer,Diamond Bus Company,"Redditch, England",£21.50 Per hour (Employer provided),Not specified,7d,https://www.glassdoor.co.uk/job-listing/lates-...,2026-01-30 07:52:44
3,glassdoor.co.uk,Principal Design Engineer Mechanical,BAE Systems,"Portsmouth, South East England, England",£54K (Employer provided),Not specified,8d,https://www.glassdoor.co.uk/job-listing/princi...,2026-01-30 07:52:48
4,glassdoor.co.uk,Mobile Construction Plant Engineer,Bay Lynx,"Basingstoke, England",£35K - £40K (Employer provided),Not specified,24h,https://www.glassdoor.co.uk/job-listing/mobile...,2026-01-30 07:52:51

In [126]:
import pandas as pd

# -----------------------------
# 1. Clean URL columns
# -----------------------------
df['job_link'] = df['job_link'].astype(str).str.strip()
df_a['job_url'] = df_a['job_url'].astype(str).str.strip()

# -----------------------------
# 2. Deduplicate df_a (CRITICAL)
# -----------------------------
df_a_unique = df_a.drop_duplicates(subset='job_url', keep='first')

# -----------------------------
# 3. Build lookup dictionary
# -----------------------------
url_to_post_date = df_a_unique.set_index('job_url')['post_date']

# -----------------------------
# 4. Fill post_date in df ONLY
#    (no new rows, no duplication)
# -----------------------------
df['post_date'] = df['post_date'].fillna(
    df['job_link'].map(url_to_post_date)
)

# -----------------------------
# 5. (Optional) sanity check
# -----------------------------
assert df.shape[0] == df['job_link'].shape[0]

In [127]:
df

,domain,job_title,company,location,salary,job_type,experience_level,education_level,skills,post_date,job_link,description
0,www.glassdoor.co.uk,Gas Engineer,VIVID Housing2.9,"Basingstoke, England",£44K(Employer provided),"contract, full-time, permanent",NaN,"associate, bachelor, master",NaN,17d,https://www.glassdoor.co.uk/job-listing/gas-en...,"We’re VIVID! –We offer a vibrant, friendly, in..."
3,www.glassdoor.co.uk,Principal Design Engineer Mechanical,BAE Systems3.9,"Best Places to WorkPortsmouth, South East Engl...",£54K(Employer provided),contract,NaN,"associate, bachelor, master",NaN,8d,https://www.glassdoor.co.uk/job-listing/princi...,Job Title:\nPrincipal Design Engineer Mechanic...
4,www.glassdoor.co.uk,Mobile Construction Plant Engineer,Bay Lynx,"Basingstoke, England",£35K - £40K(Employer provided),"apprenticeship, full-time",NaN,"associate, bachelor, master, vocational",NaN,24h,https://www.glassdoor.co.uk/job-listing/mobile...,Bay-Lynx Manufacturing Inc are the market lead...
5,www.glassdoor.co.uk,Gas Engineer,C Watson Heating & Cooling,"Cambridge, East of England, England",£46K - £57K(Employer provided),full-time,NaN,associate,NaN,16d,https://www.glassdoor.co.uk/job-listing/gas-en...,Domestic Heating & Gas Engineer - £46K-£57K . ...
6,www.glassdoor.co.uk,Gas Engineer,Bellrock Property and Facilities Management2.9,"Milton Keynes, England",None,"contract, internship",NaN,"associate, bachelor, high school, master",NaN,10d,https://www.glassdoor.co.uk/job-listing/gas-en...,Gas Engineers\nBellrock is the trusted challen...
...,...,...,...,...,...,...,...,...,...,...,...,...
2577,www.glassdoor.co.uk,Project Manager,i-Jobs,"Portsmouth, South East England, England",£26.34Per hour(Employer provided),"contract, full-time, internship, permanent, te...",NaN,"associate, master",NaN,NaN,https://www.glassdoor.co.uk/job-listing/projec...,"Project Manager\nHours\n: Mon – Fri, 09:00 – 1..."
2578,www.glassdoor.co.uk,Demand Planner,A1 Jobs Ltd4.6,"Hamilton, Scotland",£39K - £48K(Employer provided),full-time,NaN,"associate, bachelor, degree, master",NaN,NaN,https://www.glassdoor.co.uk/job-listing/demand...,A1 are seeking an experienced Demand Planner t...
2579,www.glassdoor.co.uk,Service Demand Planning Associate,CK Group4.8,"Burgess Hill, England",£15.00 - £22.55Per hour(Employer provided),contract,NaN,"associate, bachelor, master",NaN,NaN,https://www.glassdoor.co.uk/job-listing/servic...,CK Group are recruiting for a Service Demand P...
2580,www.glassdoor.co.uk,Planning Enforcement Officer,i-Jobs,"Atherstone, England",£17.84Per hour(Employer provided),"contract, full-time, internship",NaN,"associate, bachelor, high school, master",NaN,NaN,https://www.glassdoor.co.uk/job-listing/planni...,Senior Planning Enforcement Officer\nAbout the...
2581,www.glassdoor.co.uk,Operations Manager,Double H Nurseries Ltd3.5,"Sway, England",£45K(Employer provided),"full-time, permanent",NaN,"associate, bachelor, master",NaN,NaN,https://www.glassdoor.co.uk/job-listing/operat...,We are looking for a Packing Operations Manage...

Skills

In [131]:
import re
import pandas as pd

SKILL_TRIGGER_PATTERNS = [
    r"skills include[:\-]?\s*(.*?)(?:\.|\n|$)",
    r"experience with[:\-]?\s*(.*?)(?:\.|\n|$)",
    r"knowledge of[:\-]?\s*(.*?)(?:\.|\n|$)",
    r"proficient in[:\-]?\s*(.*?)(?:\.|\n|$)",
    r"familiar with[:\-]?\s*(.*?)(?:\.|\n|$)",
    r"working knowledge of[:\-]?\s*(.*?)(?:\.|\n|$)"
]

SKILL_SPLIT_REGEX = re.compile(
    r",|;|/|\band\b|\bor\b", re.IGNORECASE
)

# Explicit salary / money blocker
SALARY_REGEX = re.compile(
    r"£|\$|€|\d{2,}[,.]\d+|\d+\s*(per|/)\s*(year|hour|annum)",
    re.IGNORECASE
)

def extract_skills_generic(text):
    if pd.isna(text):
        return None

    skills = set()

    for pattern in SKILL_TRIGGER_PATTERNS:
        for match in re.findall(pattern, text, flags=re.IGNORECASE | re.DOTALL):
            parts = SKILL_SPLIT_REGEX.split(match)

            for part in parts:
                skill = part.strip().lower()

                # HARD FILTERS
                if not (2 <= len(skill) <= 40):
                    continue
                if SALARY_REGEX.search(skill):
                    continue
                if skill.count('%') > 0:
                    continue
                if sum(c.isdigit() for c in skill) > 2:
                    continue
                if any(x in skill for x in [
                    "we offer", "benefits", "holiday", "salary", "package"
                ]):
                    continue

                skills.add(skill)

    return ", ".join(sorted(skills)) if skills else None


# Apply
df['skills'] = df['description'].apply(extract_skills_generic)

In [133]:
df.head(100)

,domain,job_title,company,location,salary,job_type,experience_level,education_level,skills,post_date,job_link,description
0,www.glassdoor.co.uk,Gas Engineer,VIVID Housing2.9,"Basingstoke, England",£44K(Employer provided),"contract, full-time, permanent",NaN,"associate, bachelor, master",None,17d,https://www.glassdoor.co.uk/job-listing/gas-en...,"We’re VIVID! –We offer a vibrant, friendly, in..."
3,www.glassdoor.co.uk,Principal Design Engineer Mechanical,BAE Systems3.9,"Best Places to WorkPortsmouth, South East Engl...",£54K(Employer provided),contract,NaN,"associate, bachelor, master","auto cad, equivalent task management software)...",8d,https://www.glassdoor.co.uk/job-listing/princi...,Job Title:\nPrincipal Design Engineer Mechanic...
4,www.glassdoor.co.uk,Mobile Construction Plant Engineer,Bay Lynx,"Basingstoke, England",£35K - £40K(Employer provided),"apprenticeship, full-time",NaN,"associate, bachelor, master, vocational",None,24h,https://www.glassdoor.co.uk/job-listing/mobile...,Bay-Lynx Manufacturing Inc are the market lead...
5,www.glassdoor.co.uk,Gas Engineer,C Watson Heating & Cooling,"Cambridge, East of England, England",£46K - £57K(Employer provided),full-time,NaN,associate,None,16d,https://www.glassdoor.co.uk/job-listing/gas-en...,Domestic Heating & Gas Engineer - £46K-£57K . ...
6,www.glassdoor.co.uk,Gas Engineer,Bellrock Property and Facilities Management2.9,"Milton Keynes, England",None,"contract, internship",NaN,"associate, bachelor, high school, master",None,10d,https://www.glassdoor.co.uk/job-listing/gas-en...,Gas Engineers\nBellrock is the trusted challen...
...,...,...,...,...,...,...,...,...,...,...,...,...
102,www.glassdoor.co.uk,R&D (Mechanical) Technician,Astral Systems,"Bristol, England",£40K(Employer provided),"full-time, permanent",NaN,"associate, bachelor, master","industry standards, precision fabrication",2d,https://www.glassdoor.co.uk/job-listing/rd-mec...,About Astral Systems\nAstral Systems is a dyna...
103,www.glassdoor.co.uk,HGV Mechanic,KDM Hire Ltd.3.9,"Cookstown, Northern Ireland",£35K - £40K(Employer provided),"full-time, permanent",NaN,"associate, bachelor, master","in the industry, services to our customers",22d,https://www.glassdoor.co.uk/job-listing/hgv-me...,Are you an experienced HGV Mechanic looking to...
104,www.glassdoor.co.uk,Principal Systems Engineer,Leidos3.9,"Ham, England",£76K - £100K(Employer provided),"contract, internship",NaN,"associate, bachelor, master","digital engineering tools, frameworks (e",2d,https://www.glassdoor.co.uk/job-listing/princi...,Description\nPrincipal Systems Engineer\nProgr...
106,www.glassdoor.co.uk,Technician,Manufacturing Process3.5,"Bristol, England",£24K - £38K(Glassdoor Est.),"apprenticeship, internship",NaN,"associate, bachelor, master",None,17d,https://www.glassdoor.co.uk/job-listing/techni...,NCC a world-leading innovation centre for rese...
107,www.glassdoor.co.uk,Technical Trainer (Avionic),Marshall of Cambridge3.2,"Cambridge, East of England, England",£39K - £50K(Glassdoor Est.),"apprenticeship, internship, part-time",NaN,"associate, bachelor, master, vocational",None,22d,https://www.glassdoor.co.uk/job-listing/techni...,"Competitive salary, 27 days holiday increasing..."

In [130]:
df.shape

(2513, 12)

Experience Level

In [85]:
import re
import pandas as pd

EXPERIENCE_PATTERNS = {
    "intern": [
        r"\bintern(ship)?\b",
        r"\bstudent\b"
    ],
    "entry": [
        r"\bgraduate\b",
        r"\bjunior\b",
        r"\bentry[- ]level\b",
        r"\bno experience\b",
        r"\btraining provided\b"
    ],
    "mid": [
        r"\bintermediate\b",
        r"\bmid[- ]level\b",
        r"\b2\+?\s*years\b",
        r"\b3\+?\s*years\b"
    ],
    "senior": [
        r"\bsenior\b",
        r"\blead\b",
        r"\bprincipal\b",
        r"\b5\+?\s*years\b",
        r"\b6\+?\s*years\b"
    ],
    "management": [
        r"\bmanager\b",
        r"\bhead of\b",
        r"\bdirector\b"
    ],
    "executive": [
        r"\bvp\b",
        r"\bvice president\b",
        r"\bchief\b",
        r"\bexecutive\b"
    ]
}

def extract_experience_level(text):
    if pd.isna(text):
        return None

    text = text.lower()

    detected_levels = []

    for level, patterns in EXPERIENCE_PATTERNS.items():
        for pattern in patterns:
            if re.search(pattern, text):
                detected_levels.append(level)
                break

    # Priority order (most senior wins)
    PRIORITY = [
        "executive",
        "management",
        "senior",
        "mid",
        "entry",
        "intern"
    ]

    for level in PRIORITY:
        if level in detected_levels:
            return level

    return None


# Apply to dataframe
df['experience_level'] = df['description'].apply(extract_experience_level)

In [86]:
df.head(10)

,domain,job_title,company,location,salary,job_type,experience_level,education_level,skills,job_link,description,post_date
0,www.glassdoor.co.uk,Gas Engineer,VIVID Housing2.9,"Basingstoke, England",£44K(Employer provided),"contract, full-time, permanent",None,"associate, bachelor, master",None,https://www.glassdoor.co.uk/job-listing/gas-en...,"We’re VIVID! –We offer a vibrant, friendly, in...",17d
1,www.glassdoor.co.uk,Gas Engineer,VIVID Housing2.9,"Basingstoke, England",£44K(Employer provided),"contract, full-time, permanent",None,"associate, bachelor, master",None,https://www.glassdoor.co.uk/job-listing/gas-en...,"We’re VIVID! –We offer a vibrant, friendly, in...",17d
2,www.glassdoor.co.uk,Principal Design Engineer Mechanical,BAE Systems3.9,"Best Places to WorkPortsmouth, South East Engl...",£54K(Employer provided),contract,senior,"associate, bachelor, master","auto cad, equivalent task management software)...",https://www.glassdoor.co.uk/job-listing/princi...,Job Title:\nPrincipal Design Engineer Mechanic...,8d
3,www.glassdoor.co.uk,Principal Design Engineer Mechanical,BAE Systems3.9,"Best Places to WorkPortsmouth, South East Engl...",£54K(Employer provided),contract,senior,"associate, bachelor, master","auto cad, equivalent task management software)...",https://www.glassdoor.co.uk/job-listing/princi...,Job Title:\nPrincipal Design Engineer Mechanic...,8d
4,www.glassdoor.co.uk,Mobile Construction Plant Engineer,Bay Lynx,"Basingstoke, England",£35K - £40K(Employer provided),"apprenticeship, full-time",mid,"associate, bachelor, master, vocational",None,https://www.glassdoor.co.uk/job-listing/mobile...,Bay-Lynx Manufacturing Inc are the market lead...,24h
5,www.glassdoor.co.uk,Mobile Construction Plant Engineer,Bay Lynx,"Basingstoke, England",£35K - £40K(Employer provided),"apprenticeship, full-time",mid,"associate, bachelor, master, vocational",None,https://www.glassdoor.co.uk/job-listing/mobile...,Bay-Lynx Manufacturing Inc are the market lead...,24h
6,www.glassdoor.co.uk,Mobile Construction Plant Engineer,Bay Lynx,"Basingstoke, England",£35K - £40K(Employer provided),"apprenticeship, full-time",mid,"associate, bachelor, master, vocational",None,https://www.glassdoor.co.uk/job-listing/mobile...,Bay-Lynx Manufacturing Inc are the market lead...,24h
7,www.glassdoor.co.uk,Gas Engineer,C Watson Heating & Cooling,"Cambridge, East of England, England",£46K - £57K(Employer provided),full-time,mid,associate,000.00-£57,https://www.glassdoor.co.uk/job-listing/gas-en...,Domestic Heating & Gas Engineer - £46K-£57K . ...,16d
8,www.glassdoor.co.uk,Gas Engineer,Bellrock Property and Facilities Management2.9,"Milton Keynes, England",None,"contract, internship",management,"associate, bachelor, high school, master","accurate electronic worksheets, achieve more. ...",https://www.glassdoor.co.uk/job-listing/gas-en...,Gas Engineers\nBellrock is the trusted challen...,10d
9,www.glassdoor.co.uk,Gas Engineer,Bellrock Property and Facilities Management2.9,"Milton Keynes, England",None,"contract, internship",management,"associate, bachelor, high school, master","accurate electronic worksheets, achieve more. ...",https://www.glassdoor.co.uk/job-listing/gas-en...,Gas Engineers\nBellrock is the trusted challen...,10d

In [134]:
df.to_csv('job_data_structured.csv', index=False)
print("DataFrame 'df' successfully saved to 'job_data_cleaned.csv'")

DataFrame 'df' successfully saved to 'job_data_cleaned.csv'